.menuIcon {
  width: 40px;
  height: 4px;
  background-color: #ebd979;
  margin: 8px 0;
}

.hr-style {
  margin: 20px;
  margin-top: 10px;
  border-top: 4px solid #5dd85d;
}

.ml-15 {
  margin-left: 15px;
}

.card {
  height: 290px;
  width: 270px;
  display: inline-block;
  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

@media (max-width: 576px) {
  .card {
    height: 290px;
    width: 270px;
  }
}

.card .card-header {
  font-family: "Oswald";
  color: #bdbbbb;
  text-align: center;
}

.card .card-header h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-header h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .card .card-header h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.card .card-body {
  margin-top: 25px;
  text-align: center;
}

.card .card-body .data {
  font-family: Nunito;
  display: inline-block;
}

@media (max-width: 576px) {
  .card .card-body .data {
    display: inline-block;
  }
}

.card .card-body .data .left .cd .tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .left .cd .tc div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #337ce9;
  border: 1px solid #809dee;
}

.card .card-body .data .left .cd .tc h4 {
  margin-left: 10px;
  display: inline-block;
}

.card .card-body .data .left .cd .ta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .left .cd .ta div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ec3023;
  border: 1px solid #d16e3f;
}

.card .card-body .data .left .cd .ta h4 {
  margin-left: 10px;
  display: inline-block;
}

.card .card-body .data .left .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .left .tr div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #49e049;
  border: 1px solid #dafd88;
}

.card .card-body .data .left .tr h4 {
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 576px) {
  .card .card-body .data .right {
    margin-top: 5px;
  }
}

.card .card-body .data .right .cd .cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .right .cd .cs div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #4bf7f7;
  border: 1px solid #91e3e5;
}

.card .card-body .data .right .cd .cs h4 {
  margin-left: 10px;
  display: inline-block;
}

.card .card-body .data .right .cd .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .right .cd .td div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #131210;
  border: 1px solid #4c4d49;
}

.card .card-body .data .right .cd .td h4 {
  margin-left: 10px;
  display: inline-block;
}

.card .card-body .data .right .cd .lu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .data .right .cd .lu div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ece691;
  border: 1px solid #dafd88;
}

.card .card-body .data .right .cd .lu h4 {
  margin-left: 10px;
  display: inline-block;
}

.card .card-body .card-btn {
  margin-top: 30px;
}

.card .card-body .card-btn .card-link {
  padding: 12px 20px;
  font-family: "Nunito";
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background-color: #a8a6a6;
}

.link {
  padding: 10px 30px;
  font-family: "Nunito";
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #ccc;
  text-decoration: none;
  color: black;
}

.link:active {
  color: black;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.loading {
  padding: 20px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 1000px;
}

.header {
  height: 120px;
  width: 100%;
  background-color: #83a9fa;
  position: fixed;
  width: 100%;
  z-index: 55;
  -webkit-box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
  box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
}

@media (max-width: 576px) {
  .header {
    height: 80px;
  }
}

.header .header_left {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 576px) {
  .header .header_left {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.header .header_left .header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_left .header_items .logo img {
  -webkit-animation: moveRight 1.6s;
          animation: moveRight 1.6s;
  height: 100px;
  width: 100px;
}

@media (max-width: 576px) {
  .header .header_left .header_items .logo img {
    height: 70px;
    width: 70px;
  }
}

.header .header_left .header_items .heading {
  -webkit-animation: moveRight 1.6s;
          animation: moveRight 1.6s;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  font-family: "nunito";
  color: #ebd979;
  font-size: 40px;
}

@media (max-width: 576px) {
  .header .header_left .header_items .heading {
    font-size: 25px;
  }
}

.header .header_left .header_items .heading .tagline {
  margin-top: -4px;
  font-family: "Raleway";
  font-size: 20px;
}

@media (max-width: 576px) {
  .header .header_left .header_items .heading .tagline {
    font-size: 15px;
  }
}

.header .header-right {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-top: 30px;
  display: inline-block;
  right: 30px;
}

@media (max-width: 576px) {
  .header .header-right {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .header .header-right {
    right: 10px;
  }
}

.header .header-right .header-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-right .header-right-items .search-icon {
  display: none;
}

@media (max-width: 676px) {
  .header .header-right .header-right-items .search-icon {
    display: block;
  }
}

.header .header-right .header-right-items .search-icon button {
  margin-top: -7px;
  width: 50px;
  margin-right: 12px;
  color: #ebd979;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.82rem 5px;
  font-family: "Raleway";
}

.header .header-right .header-right-items .search-icon button i {
  font-size: 30px;
}

.header .header-right .header-right-items .search-form {
  margin-right: 30px;
  display: block;
}

@media (max-width: 676px) {
  .header .header-right .header-right-items .search-form {
    display: none;
  }
}

.header .header-right .header-right-items .search-form form .inputStyle {
  width: 200px;
  position: relative;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Raleway";
  font-size: 16px;
  padding: 12px 60px 12px 10px;
}

.header .header-right .header-right-items .search-form form .inputButton {
  position: absolute;
  margin: 0px;
  margin-left: -50px;
  z-index: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  color: white;
  background-color: #ebd979;
  outline: none;
  border: none;
  padding: 0.82rem 5px;
  font-family: "Raleway";
}

.header .header-right .header-right-items .search-form form .inputButton i {
  font-size: 20px;
}

.main {
  width: 100%;
  position: relative;
  margin-top: 120px;
  display: inline-block;
}

@media (max-width: 576px) {
  .main {
    margin-top: 80px;
  }
}

.main .firstSec .heading {
  font-size: 30px;
  font-weight: 300;
  color: #bdbbbb;
  font-family: "Oswald";
  text-align: center;
}

@media (max-width: 576px) {
  .main .firstSec .heading {
    font-size: 20px;
  }
}

.main .firstSec .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main .firstSec .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .main .firstSec .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.main .firstSec .body {
  position: relative;
}

.main .firstSec .body .country-svg {
  margin: 20px;
  text-align: center;
}

.main .firstSec .body .country-svg img {
  height: 300px;
  width: 300px;
}

.main .firstSec .body .data {
  margin-left: 10px;
  font-family: Nunito;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 576px) {
  .main .firstSec .body .data {
    display: inline-block;
  }
}

.main .firstSec .body .data .left .cd .tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .left .cd .tc div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #337ce9;
  border: 1px solid #809dee;
}

.main .firstSec .body .data .left .cd .tc h4 {
  margin-left: 10px;
  display: inline-block;
}

.main .firstSec .body .data .left .cd .ta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .left .cd .ta div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ec3023;
  border: 1px solid #d16e3f;
}

.main .firstSec .body .data .left .cd .ta h4 {
  margin-left: 10px;
  display: inline-block;
}

.main .firstSec .body .data .left .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .left .tr div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #49e049;
  border: 1px solid #dafd88;
}

.main .firstSec .body .data .left .tr h4 {
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 576px) {
  .main .firstSec .body .data .right {
    margin-top: 5px;
  }
}

.main .firstSec .body .data .right .cd .cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .right .cd .cs div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #4bf7f7;
  border: 1px solid #91e3e5;
}

.main .firstSec .body .data .right .cd .cs h4 {
  margin-left: 10px;
  display: inline-block;
}

.main .firstSec .body .data .right .cd .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .right .cd .td div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #131210;
  border: 1px solid #4c4d49;
}

.main .firstSec .body .data .right .cd .td h4 {
  margin-left: 10px;
  display: inline-block;
}

.main .firstSec .body .data .right .cd .lu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .firstSec .body .data .right .cd .lu div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ece691;
  border: 1px solid #dafd88;
}

.main .firstSec .body .data .right .cd .lu h4 {
  margin-left: 10px;
  display: inline-block;
}

.main .secondSec .body {
  margin: 20px;
  text-align: center;
}

.main .secondSec .body .all-card {
  display: inline-block;
}

.main .secondSec .body .more-btn {
  margin-top: 20px;
}

.all-state {
  width: 100%;
  position: relative;
  margin-top: 120px;
  display: inline-block;
}

@media (max-width: 576px) {
  .all-state {
    margin-top: 80px;
  }
}

.all-state .heading {
  font-size: 30px;
  font-weight: 300;
  color: #bdbbbb;
  font-family: "Oswald";
  text-align: center;
}

@media (max-width: 576px) {
  .all-state .heading {
    font-size: 20px;
  }
}

.all-state .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.all-state .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .all-state .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.all-state .body {
  text-align: center;
}

.footer-container {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: lightblue;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links {
  height: 120px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  font-family: "Nunito";
  grid-column: 1fr 1fr;
      grid-template-areas: "first second" "third fourth";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  .links {
    display: -ms-grid;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
        grid-template-areas: "first second third fourth";
  }
}

.link1 {
  width: 150px;
  color: #130e0e;
  font-size: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  text-decoration: none;
}

.link2 {
  width: 150px;
  text-decoration: none;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
  color: #130e0e;
  font-size: 20px;
}

.link3 {
  width: 150px;
  text-decoration: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: third;
  color: #130e0e;
  font-size: 20px;
}

.link4 {
  width: 150px;
  text-decoration: none;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fourth;
  color: #130e0e;
  font-size: 20px;
}

.social {
  height: 80px;
  width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.media1,
.media2,
.media3,
.media4 {
  -ms-grid-column-align: center;
      justify-self: center;
}

.media1 i,
.media2 i,
.media3 i,
.media4 i {
  border-radius: 50px;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  width: 50px;
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.login-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  margin-top: 120px;
  display: inline-block;
}

@media (max-width: 576px) {
  .login-container {
    margin-top: 80px;
  }
}

.login-background {
  position: relative;
  background-color: #aa6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
  height: auto;
  width: 400px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login .logo {
  display: inline-block;
}

.login .logo img {
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 50px;
  padding: 2px;
  padding-left: 17px;
  height: 100px;
  width: 100px;
  margin: 0%;
}

.login .inputs .inp_field {
  display: inline-block;
  position: relative;
}

.login .inputs .inp_field .inp {
  margin-top: 40px;
  height: 37px;
  width: 220px;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 2px;
  padding-left: 40px;
  position: relative;
  outline: none;
  font-size: 16px;
  margin-left: 0px;
  -webkit-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
}

@media (max-width: 400px) {
  .login .inputs .inp_field .inp {
    height: 50px;
    padding-left: 50px;
    font-size: 18px;
  }
}

.login .inputs .inp_field i {
  position: absolute;
  display: inline-block;
  padding: 0.66rem 10px;
  margin: 0%;
  margin-top: 40px;
  z-index: 1;
  background-color: rgba(21, 202, 66, 0.856);
}

@media (max-width: 400px) {
  .login .inputs .inp_field i {
    padding: 1.07rem 15px;
  }
}

.login-btn {
  margin-top: 25px;
}

.login-btn button {
  outline: none;
  border: none;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  background-color: rgba(21, 202, 66, 0.856);
  -webkit-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
}

@media (max-width: 400px) {
  .login-btn button {
    padding: 15px 30px;
  }
}

.circle1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}

@media (max-width: 400px) {
  .circle1 {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-left: -190px;
    margin-top: -150px;
  }
}

.page-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  margin-top: 120px;
  display: inline-block;
}

@media (max-width: 576px) {
  .page-container {
    margin-top: 80px;
  }
}

.page-container .state-data .heading {
  font-family: "Oswald";
  color: #a09b9b;
  font-size: 30px;
  text-align: center;
}

.page-container .state-data .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-container .state-data .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .page-container .state-data .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.page-container .state-data .sd1 {
  margin-left: 10px;
  font-family: Nunito;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 576px) {
  .page-container .state-data .sd1 {
    display: inline-block;
  }
}

.page-container .state-data .sd1 .left .cd .tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .left .cd .tc div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #337ce9;
  border: 1px solid #809dee;
}

.page-container .state-data .sd1 .left .cd .tc h4 {
  margin-left: 10px;
  display: inline-block;
}

.page-container .state-data .sd1 .left .cd .ta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .left .cd .ta div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ec3023;
  border: 1px solid #d16e3f;
}

.page-container .state-data .sd1 .left .cd .ta h4 {
  margin-left: 10px;
  display: inline-block;
}

.page-container .state-data .sd1 .left .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .left .tr div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #49e049;
  border: 1px solid #dafd88;
}

.page-container .state-data .sd1 .left .tr h4 {
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 576px) {
  .page-container .state-data .sd1 .right {
    margin-top: 5px;
  }
}

.page-container .state-data .sd1 .right .cd .cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .right .cd .cs div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #4bf7f7;
  border: 1px solid #91e3e5;
}

.page-container .state-data .sd1 .right .cd .cs h4 {
  margin-left: 10px;
  display: inline-block;
}

.page-container .state-data .sd1 .right .cd .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .right .cd .td div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #131210;
  border: 1px solid #4c4d49;
}

.page-container .state-data .sd1 .right .cd .td h4 {
  margin-left: 10px;
  display: inline-block;
}

.page-container .state-data .sd1 .right .cd .lu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-container .state-data .sd1 .right .cd .lu div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ece691;
  border: 1px solid #dafd88;
}

.page-container .state-data .sd1 .right .cd .lu h4 {
  margin-left: 10px;
  display: inline-block;
}

.page-container .state-data .district-data {
  text-align: center;
}

.page-container .state-data .district-data .heading {
  text-align: center;
}

.page-container .state-data .district-data .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-container .state-data .district-data .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .page-container .state-data .district-data .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.page-container .state-data .district-data .district {
  margin: 0px 20px;
  display: inline-block;
}

.page-container .state-data .district-data .district .dis {
  text-align: center;
}

.page-container .state-data .district-data .district .dis .c {
  text-align: center;
  margin: 10px;
  height: auto;
  padding-bottom: 20px;
}

.page-container .state-data .district-data .district .dis .c p {
  font-family: "Nunito";
}

.page-container .state-data .district-data .district .dis .hos-link {
  display: inline-block;
  color: black;
  margin-top: 10px;
  font-family: "Nunito";
  padding: 10px 10px;
  background-color: #a5a1a1;
  text-decoration: none;
}

.error {
  font-family: "Nunito";
  font-size: 20px;
  margin: 20px;
}

.loading {
  text-align: center;
}

.mob-search-form {
  padding: 15px 0px;
  display: none;
  text-align: center;
}

@media (max-width: 676px) {
  .mob-search-form {
    display: block;
  }
}

.mob-search-form form .inputStyle {
  width: auto;
  position: relative;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Raleway";
  font-size: 16px;
  padding: 12px 60px 12px 10px;
}

.mob-search-form form .inputButton {
  position: absolute;
  margin: 0px;
  margin-left: -50px;
  z-index: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  color: white;
  background-color: #ebd979;
  outline: none;
  border: none;
  padding: 0.82rem 5px;
  font-family: "Raleway";
}

.mob-search-form form .inputButton i {
  font-size: 20px;
}

.sidebar {
  right: 0;
  width: 80px;
  height: 100vh;
  background-color: #83a9fa;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #b9c9ec 51%, #9bb5ee 75%);
  position: absolute;
  z-index: 99;
  margin-top: 120px;
}

@media (max-width: 576px) {
  .sidebar {
    margin-top: 80px;
  }
}

.sidebar .sidebar-items {
  text-align: center;
}

.sidebar .sidebar-items .sidebar-item {
  color: black;
  margin: 10px 0px;
  font-size: 40px;
}

.sidebar .sidebar-items .sidebar-item i {
  color: black;
}

@-webkit-keyframes moveLeftSidebar {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveLeftSidebar {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveRightSidebar {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveRightSidebar {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.sec-container {
  margin-top: 20px;
}

.dailyCases {
  text-align: center;
}

.dailyCases .heading {
  font-size: 30px;
  font-weight: 300;
  color: #bdbbbb;
  font-family: "Oswald";
  text-align: center;
}

@media (max-width: 576px) {
  .dailyCases .heading {
    font-size: 20px;
  }
}

.dailyCases .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dailyCases .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .dailyCases .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.dailyCases .body .more-btn {
  margin-top: 20px;
}

.dailyCases .body .dailyCard {
  height: auto;
  padding-bottom: 20px;
  font-family: Nunito;
  text-align: center;
}

.dailyCases .body .dailyCard .card-item {
  margin-left: 40px;
}

.dailyCases .body .dailyCard .card-item .tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dailyCases .body .dailyCard .card-item .tc div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #337ce9;
  border: 1px solid #809dee;
}

.dailyCases .body .dailyCard .card-item .tc h4 {
  margin-left: 10px;
  display: inline-block;
}

.dailyCases .body .dailyCard .card-item .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dailyCases .body .dailyCard .card-item .td div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #ec3023;
  border: 1px solid #d16e3f;
}

.dailyCases .body .dailyCard .card-item .td h4 {
  margin-left: 10px;
  display: inline-block;
}

.dailyCases .body .dailyCard .card-item .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dailyCases .body .dailyCard .card-item .tr div {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #49e049;
  border: 1px solid #dafd88;
}

.dailyCases .body .dailyCard .card-item .tr h4 {
  margin-left: 10px;
  display: inline-block;
}

.admin .heading {
  font-size: 30px;
  font-weight: 300;
  color: #bdbbbb;
  font-family: "Oswald";
  text-align: center;
}

@media (max-width: 576px) {
  .admin .heading {
    font-size: 20px;
  }
}

.admin .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.admin .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .admin .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.admin .body .output {
  font-family: Nunito;
  margin: 10px 0px;
  text-align: center;
}

.admin .body .output p {
  margin: 0px 10px;
  font-size: 20px;
}

.admin .body .items .item {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Nunito;
}

.admin .body .items .item p {
  margin: 0px 20px;
  font-size: 20px;
}

.admin .body .items .item button {
  outline: none;
  border: none;
  padding: 10px 15px;
}

.search-page .heading,
.hos-page .heading {
  font-size: 30px;
  font-weight: 300;
  color: #bdbbbb;
  font-family: "Oswald";
  text-align: center;
}

@media (max-width: 576px) {
  .search-page .heading,
  .hos-page .heading {
    font-size: 20px;
  }
}

.search-page .heading h4,
.hos-page .heading h4 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0%;
  margin-top: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.search-page .heading h4:hover,
.hos-page .heading h4:hover {
  -webkit-transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .search-page .heading h4:hover,
  .hos-page .heading h4:hover {
    -webkit-transform: skewY(-1deg) skewX(-12deg) scale(0.9);
    transform: skewY(-1deg) skewX(-12deg) scale(0.9);
  }
}

.search-page .body,
.hos-page .body {
  text-align: left;
  font-family: "Nunito";
}

.search-page .body .items,
.hos-page .body .items {
  margin-left: 30px;
  margin-right: 30px;
}

.search-page .body .items .item,
.hos-page .body .items .item {
  border: 1px solid black;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.search-page .body .items .item h5,
.hos-page .body .items .item h5 {
  font-size: 20px;
}

.search-page .body .ccc,
.hos-page .body .ccc {
  margin: 10px;
  display: inline-block;
}

.search-page .more-btn,
.hos-page .more-btn {
  margin-top: 15px;
}

.search-page .more-btn button,
.hos-page .more-btn button {
  font-family: "Nunito";
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #b4b1b1;
}

.link-rec {
  text-decoration: none;
}

.hos-card {
  height: auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

.hos-card .hos-card-header {
  padding: 10px 0px;
  text-align: center;
}

.hos-card .hos-card-header img {
  display: inline-block;
}

.hos-card .hos-card-header h4 {
  font-family: Nunito;
}

.hos-card .hos-card-body .hos-card-items {
  margin-left: 5px;
  margin-right: 5px;
}

.hos-card .hos-card-body .hos-card-items .item p b {
  font-size: 22px;
}

.sp-screen {
  margin-left: 200px;
  background-color: #ccc;
  margin-top: 200px;
  padding: 10px;
  z-index: 1000;
  position: absolute;
}

@media (max-width: 576px) {
  .sp-screen {
    margin-top: 200px;
    margin-left: 20px;
  }
}

.sp-screen .close-btn {
  right: 0;
  margin: 20px 0px;
}

@media (max-width: 576px) {
  .sp-screen .close-btn {
    margin: 10px 0px;
    margin-top: 0px;
  }
}

.sp-screen .close-btn i {
  color: #fff;
  font-size: 40px;
}

.sp-screen img {
  height: 800px;
  width: 550px;
}

@media (max-width: 576px) {
  .sp-screen img {
    height: 500px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */