@import "./Util/Utilites";
@import "./Util/headingStyle";

* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 1000px;
}
.header {
  height: 120px;
  width: 100%;
  background-color: rgb(131, 169, 250);
  position: fixed;
  width: 100%;
  z-index: 55;
  -webkit-box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
  box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);

  @media (max-width: 576px) {
    height: 80px;
  }
  // rgb(131, 169, 250);
  .header_left {
    margin-top: 10px;
    margin-left: 10px;
    @media (max-width: 576px) {
      margin-top: 5px;
      margin-left: 10px;
    }
    display: inline-block;
    .header_items {
      display: flex;
      align-items: center;
      .logo {
        img {
          animation: moveRight 1.6s;
          height: 100px;
          width: 100px;
          @media (max-width: 576px) {
            height: 70px;
            width: 70px;
          }
        }
      }
      .heading {
        animation: moveRight 1.6s;
        padding: 0px;
        margin: 0px;
        margin-top: -6px;
        font-family: "nunito";
        color: rgb(235, 217, 121);
        font-size: 40px;
        @media (max-width: 576px) {
          font-size: 25px;
        }
        .tagline {
          margin-top: -4px;

          font-family: "Raleway";
          font-size: 20px;
          @media (max-width: 576px) {
            font-size: 15px;
          }
        }
      }
    }
  }
  .header-right {
    position: absolute;
    align-items: center;
    vertical-align: middle;
    margin-top: 30px;
    display: inline-block;
    right: 30px;
    @media (max-width: 576px) {
      margin-top: 20px;
    }

    @media (max-width: 400px) {
      right: 10px;
    }

    .header-right-items {
      display: flex;
      .search-icon {
        display: none;
        @media (max-width: 676px) {
          display: block;
        }
        button {
          margin-top: -7px;
          width: 50px;
          margin-right: 12px;
          color: rgb(235, 217, 121);
          background-color: transparent;
          outline: none;
          border: none;
          padding: 0.82rem 5px;
          font-family: "Raleway";
          i {
            font-size: 30px;
          }
        }
      }
      .search-form {
        margin-right: 30px;
        display: block;
        @media (max-width: 676px) {
          display: none;
        }
        form {
          .inputStyle {
            width: 200px;
            position: relative;
            outline: none;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-family: "Raleway";
            font-size: 16px;
            padding: 12px 60px 12px 10px;
          }
          .inputButton {
            position: absolute;
            margin: 0px;
            margin-left: -50px;
            z-index: 1;
            // pointer-events: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            width: 50px;
            color: white;
            background-color: rgb(235, 217, 121);
            outline: none;
            border: none;
            padding: 0.82rem 5px;
            font-family: "Raleway";
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.main {
  width: 100%;
  position: relative;
  margin-top: 120px;
  display: inline-block;
  @media (max-width: 576px) {
    margin-top: 80px;
  }
  .firstSec {
    .heading {
      @media (max-width: 576px) {
        font-size: 20px;
      }
      font-size: 30px;
      font-weight: 300;
      color: #bdbbbb;
      font-family: "Oswald";
      @include Primary-heading;
    }
    .body {
      position: relative;
      .country-svg {
        margin: 20px;
        text-align: center;
        img {
          height: 300px;
          width: 300px;
        }
      }
      .data {
        margin-left: 10px;
        font-family: Nunito;
        display: flex;
        justify-content: space-around;

        @media (max-width: 576px) {
          display: inline-block;
        }
        .left {
          .cd {
            .tc {
              display: flex;

              div {
                height: 15px;
                width: 15px;
                display: inline-block;
                background-color: rgb(51, 124, 233);
                border: 1px solid rgb(128, 157, 238);
              }
              h4 {
                margin-left: 10px;

                display: inline-block;
              }
            }
            .ta {
              display: flex;

              div {
                height: 15px;
                width: 15px;
                display: inline-block;
                background-color: rgb(236, 48, 35);
                border: 1px solid rgb(209, 110, 63);
              }
              h4 {
                margin-left: 10px;

                display: inline-block;
              }
            }
          }

          .tr {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(73, 224, 73);
              border: 1px solid rgb(218, 253, 136);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }
        }
        .right {
          @media (max-width: 576px) {
            margin-top: 5px;
          }
          .cd {
            .cs {
              display: flex;

              div {
                height: 15px;
                width: 15px;
                display: inline-block;
                background-color: rgb(75, 247, 247);
                border: 1px solid rgb(145, 227, 229);
              }
              h4 {
                margin-left: 10px;

                display: inline-block;
              }
            }

            .td {
              display: flex;

              div {
                height: 15px;
                width: 15px;
                display: inline-block;
                background-color: rgb(19, 18, 16);
                border: 1px solid rgb(76, 77, 73);
              }
              h4 {
                margin-left: 10px;

                display: inline-block;
              }
            }

            .lu {
              display: flex;

              div {
                height: 15px;
                width: 15px;
                display: inline-block;
                background-color: rgb(236, 230, 145);
                border: 1px solid rgb(218, 253, 136);
              }
              h4 {
                margin-left: 10px;

                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  .secondSec {
    // display: inline-block;
    .body {
      margin: 20px;
      text-align: center;
      .all-card {
        display: inline-block;
      }
      .more-btn {
        margin-top: 20px;
      }
    }
  }
}

.all-state {
  width: 100%;
  position: relative;
  margin-top: 120px;
  display: inline-block;
  @media (max-width: 576px) {
    margin-top: 80px;
  }
  .heading {
    @media (max-width: 576px) {
      font-size: 20px;
    }
    font-size: 30px;
    font-weight: 300;
    color: #bdbbbb;
    font-family: "Oswald";
    @include Primary-heading;
  }
  .body {
    text-align: center;
  }
}

.footer-container {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: lightblue;
  display: grid;
  justify-content: center;
  align-items: center;
}
.links {
  height: 120px;
  width: 100%;
  display: grid;
  font-family: "Nunito";
  grid-column: 1fr 1fr;
  grid-template-areas: "first second" "third fourth";
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .links {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    grid-template-areas: "first second third fourth";
  }
}
.link1 {
  width: 150px;
  color: rgb(19, 14, 14);
  font-size: 20px;
  grid-area: first;

  text-decoration: none;
}
.link2 {
  width: 150px;
  text-decoration: none;
  grid-area: second;
  color: rgb(19, 14, 14);
  font-size: 20px;
}
.link3 {
  width: 150px;
  text-decoration: none;
  grid-area: third;
  color: rgb(19, 14, 14);
  font-size: 20px;
}
.link4 {
  width: 150px;
  text-decoration: none;
  grid-area: fourth;
  color: rgb(19, 14, 14);
  font-size: 20px;
}

.social {
  height: 80px;
  width: 300px;
  display: grid;
  justify-self: center;
  align-content: center;
  justify-content: center;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.media1,
.media2,
.media3,
.media4 {
  justify-self: center;

  i {
    border-radius: 50px;
    display: inline-block;
    font-size: 40px;

    height: 50px;
    width: 50px;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0.1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.login-container {
  width: 100%;

  margin-bottom: 10px;
  position: relative;
  margin-top: 120px;
  display: inline-block;
  @media (max-width: 576px) {
    margin-top: 80px;
  }
}
.login-background {
  position: relative;
  background-color: #aa6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
  height: auto;
  width: 400px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login .logo {
  display: inline-block;
}

.login .logo img {
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 50px;
  padding: 2px;
  padding-left: 17px;
  height: 100px;
  width: 100px;
  margin: 0%;
}

.login .inputs .inp_field {
  display: inline-block;
  position: relative;
}

.login .inputs .inp_field .inp {
  margin-top: 40px;
  height: 37px;
  width: 220px;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 2px;
  padding-left: 40px;
  position: relative;
  outline: none;
  font-size: 16px;
  margin-left: 0px;
  -webkit-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  -moz-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
}

@media (max-width: 400px) {
  .login .inputs .inp_field .inp {
    height: 50px;
    padding-left: 50px;
    font-size: 18px;
  }
}

.login .inputs .inp_field i {
  position: absolute;
  display: inline-block;
  padding: 0.66rem 10px;
  margin: 0%;
  margin-top: 40px;
  z-index: 1;
  background-color: rgba(21, 202, 66, 0.856);
}

@media (max-width: 400px) {
  .login .inputs .inp_field i {
    padding: 1.07rem 15px;
  }
}

.login-btn {
  margin-top: 25px;
}

.login-btn button {
  outline: none;
  border: none;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  background-color: rgba(21, 202, 66, 0.856);
  -webkit-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  -moz-box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(89, 102, 101, 0.3);
}

@media (max-width: 400px) {
  .login-btn button {
    padding: 15px 30px;
  }
}

.circle1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}

@media (max-width: 400px) {
  .circle1 {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-left: -190px;
    margin-top: -150px;
  }
}

.page-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  margin-top: 120px;
  display: inline-block;
  @media (max-width: 576px) {
    margin-top: 80px;
  }

  .state-data {
    .heading {
      font-family: "Oswald";
      color: rgb(160, 155, 155);

      font-size: 30px;
      @include Primary-heading;
    }
    .sd1 {
      margin-left: 10px;
      font-family: Nunito;
      display: flex;
      justify-content: space-around;

      @media (max-width: 576px) {
        display: inline-block;
      }

      .left {
        .cd {
          .tc {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(51, 124, 233);
              border: 1px solid rgb(128, 157, 238);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }
          .ta {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(236, 48, 35);
              border: 1px solid rgb(209, 110, 63);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }
        }

        .tr {
          display: flex;

          div {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-color: rgb(73, 224, 73);
            border: 1px solid #cbf36d;
          }
          h4 {
            margin-left: 10px;

            display: inline-block;
          }
        }
      }
      .right {
        @media (max-width: 576px) {
          margin-top: 5px;
        }
        .cd {
          .cs {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(75, 247, 247);
              border: 1px solid rgb(145, 227, 229);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }

          .td {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(19, 18, 16);
              border: 1px solid rgb(76, 77, 73);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }

          .lu {
            display: flex;

            div {
              height: 15px;
              width: 15px;
              display: inline-block;
              background-color: rgb(236, 230, 145);
              border: 1px solid rgb(218, 253, 136);
            }
            h4 {
              margin-left: 10px;

              display: inline-block;
            }
          }
        }
      }
    }

    .district-data {
      text-align: center;
      .heading {
        @include Primary-heading;
      }
      .district {
        margin: 0px 20px;
        display: inline-block;
        .dis {
          text-align: center;
          .c {
            text-align: center;
            margin: 10px;
            height: auto;
            padding-bottom: 20px;

            p {
              font-family: "Nunito";
            }
          }
          .hos-link {
            display: inline-block;
            color: black;
            margin-top: 10px;
            font-family: "Nunito";
            padding: 10px 10px;
            background-color: rgb(165, 161, 161);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.error {
  font-family: "Nunito";
  font-size: 20px;
  margin: 20px;
}

.loading {
  text-align: center;
}

.mob-search-form {
  padding: 15px 0px;
  display: none;
  text-align: center;
  @media (max-width: 676px) {
    display: block;
  }
  form {
    .inputStyle {
      width: auto;
      position: relative;
      outline: none;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-family: "Raleway";
      font-size: 16px;
      padding: 12px 60px 12px 10px;
    }
    .inputButton {
      position: absolute;
      margin: 0px;
      margin-left: -50px;
      z-index: 1;
      // pointer-events: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 50px;
      color: white;
      background-color: rgb(235, 217, 121);
      outline: none;
      border: none;
      padding: 0.82rem 5px;
      font-family: "Raleway";
      i {
        font-size: 20px;
      }
    }
  }
}

.sidebar {
  // animation: moveLeftSidebar 1.6s;
  right: 0;
  width: 80px;
  height: 100vh;
  // display: none;
  background-color: rgb(131, 169, 250);
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    rgb(185, 201, 236) 51%,
    rgb(155, 181, 238) 75%
  );
  // border-radius: 4px;
  position: absolute;
  z-index: 99;
  margin-top: 120px;
  @media (max-width: 576px) {
    margin-top: 80px;
  }
  .sidebar-items {
    text-align: center;
    .sidebar-item {
      color: black;
      margin: 10px 0px;
      font-size: 40px;
      i {
        color: black;
      }
    }
  }
}

@keyframes moveLeftSidebar {
  0% {
    opacity: 0.1;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveRightSidebar {
  0% {
    opacity: 1;
    // transform: translateX(30px);
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

.sec-container {
  margin-top: 20px;
}
.dailyCases {
  text-align: center;
  .heading {
    @media (max-width: 576px) {
      font-size: 20px;
    }
    font-size: 30px;
    font-weight: 300;
    color: #bdbbbb;
    font-family: "Oswald";
    @include Primary-heading;
  }
  .body {
    .more-btn {
      margin-top: 20px;
    }
    .dailyCard {
      height: auto;
      padding-bottom: 20px;
      font-family: Nunito;
      text-align: center;

      .card-item {
        margin-left: 40px;
        .tc {
          display: flex;

          div {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-color: rgb(51, 124, 233);
            border: 1px solid rgb(128, 157, 238);
          }
          h4 {
            margin-left: 10px;

            display: inline-block;
          }
        }
        .td {
          display: flex;

          div {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-color: rgb(236, 48, 35);
            border: 1px solid rgb(209, 110, 63);
          }
          h4 {
            margin-left: 10px;

            display: inline-block;
          }
        }

        .tr {
          display: flex;

          div {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-color: rgb(73, 224, 73);
            border: 1px solid rgb(218, 253, 136);
          }
          h4 {
            margin-left: 10px;

            display: inline-block;
          }
        }
      }
    }
  }
}

.admin {
  .heading {
    @media (max-width: 576px) {
      font-size: 20px;
    }
    font-size: 30px;
    font-weight: 300;
    color: #bdbbbb;
    font-family: "Oswald";
    @include Primary-heading;
  }
  .body {
    .output {
      font-family: Nunito;
      margin: 10px 0px;
      text-align: center;
      p {
        margin: 0px 10px;
        font-size: 20px;
      }
    }
    .items {
      .item {
        margin: 20px 0px;
        display: flex;

        font-family: Nunito;
        p {
          margin: 0px 20px;
          font-size: 20px;
        }
        button {
          outline: none;
          border: none;
          padding: 10px 15px;
        }
      }
    }
  }
}

.search-page,
.hos-page {
  .heading {
    @media (max-width: 576px) {
      font-size: 20px;
    }
    font-size: 30px;
    font-weight: 300;
    color: #bdbbbb;
    font-family: "Oswald";
    @include Primary-heading;
  }
  .body {
    text-align: left;
    font-family: "Nunito";
    .items {
      margin-left: 30px;
      margin-right: 30px;
      .item {
        border: 1px solid black;
        padding: 20px 10px;
        margin-bottom: 10px;
        h5 {
          font-size: 20px;
        }
      }
    }
    .ccc {
      margin: 10px;
      display: inline-block;
    }
  }
  .more-btn {
    margin-top: 15px;
    button {
      font-family: "Nunito";
      font-size: 20px;
      color: white;
      padding: 10px 20px;
      border: none;
      outline: none;
      background-color: rgb(180, 177, 177);
    }
  }
}

.link-rec {
  text-decoration: none;
}

.hos-card {
  height: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  .hos-card-header {
    padding: 10px 0px;
    text-align: center;
    // display: inline-block;
    img {
      display: inline-block;
    }
    h4 {
      font-family: Nunito;
    }
  }
  .hos-card-body {
    .hos-card-items {
      margin-left: 5px;
      margin-right: 5px;
      .item {
        p {
          b {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.sp-screen {
  margin-left: 200px;
  background-color: #ccc;
  margin-top: 200px;
  padding: 10px;
  z-index: 1000;
  @media (max-width: 576px) {
    margin-top: 200px;
    margin-left: 20px;
  }
  position: absolute;
  .close-btn {
    right: 0;
    margin: 20px 0px;
    @media (max-width: 576px) {
      margin: 10px 0px;
      margin-top: 0px;
    }
    i {
      color: #fff;
      font-size: 40px;
    }
  }
  img {
    @media (max-width: 576px) {
      height: 500px;
      width: 300px;
    }
    height: 800px;
    width: 550px;
  }
}

.doughnut-chart {
  margin-top: 50px;
  // display: inline-block;
  text-align: center;
}

.line-chart-daily {
  display: inline-block;
  height: 300px;
  width: 70%;
  @media (max-width: 800px) {
    width: 100%;
  }
  margin-bottom: 100px;
  .dlc {
    .daily-data-graph {
      .daily-data-graph-body {
        height: 300px;
        position: relative;

        .dailyDeceasedDataGraph {
          display: inline-block;
          height: 300px;
          width: 100%;
          position: relative;
          margin-bottom: 50px;
          .grp {
            height: 300px;
          }
        }
      }
    }
  }
}

.about-data {
  .about-list {
    list-style: none;
    li {
      font-family: Nunito;
      font-size: 24px;
    }
  }
}

.gp-district-data {
  text-align: center;

  position: relative;

  display: inline-block;
  height: 300px;
  width: 70%;
  @media (max-width: 800px) {
    width: 100%;
  }
  .ddc {
    text-align: center;
    .district-data-graph {
      display: inline-block;
      .district-data-graph-body {
        .districtDataGraph {
          display: inline-block;
          height: 300px;
          width: 100%;
          position: relative;
          margin-bottom: 50px;
          .grp {
            height: 300px;
          }
        }
      }
    }
  }
}
